.square {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.squareId {
  position: absolute;
  left: 5px;
  top: 3px;
  font-size: 12px;
}

.occupied {
  cursor: grab;
}

.white {
  background-color: #ffe6de;
  color: black;
}

.black {
  background-color: #320e04;
  color: white;
}
